<%= div_for bluff do %>
  <p><%= link_to bluff.author_name, bluff.author %></p>

  <p class="bubble-2">Did you see that ludicrous display last night?</p><br>

  <p class="bubble-1"><%= bluff.statement_1 %></p><br>

  <p class="bubble-2"><%= bluff.statement_2 %></p><br>

  <p class="bubble-1">Yeah it is true. See you later, mate.</p><br>

  <p class="bubble-2">Mind 'ow you go.</p>

  <%= bluff.like_button %>
  <%= pluralize bluff.like_count, "like" %>
<% end %>