<%= div_for bluff do %>
  <p><%= link_to bluff.author_name, bluff.author %> wrote <time></time></p>

  <p class="bubble-2">Did you see that ludicrous display last night?</p><br>

  <p class="bubble-1"><%= bluff.statement_1 %></p><br>

  <p class="bubble-2"><%= bluff.statement_2 %></p><br>

  <p class="bubble-1">Yeah it is true. See you later, mate.</p><br>

  <p class="bubble-2">Mind 'ow you go.</p>

  <div>
    <%= bluff.like_button %>
    <%= bluff.unlike_button %>
    <%= pluralize bluff.like_count, "like" %>
  </div>
<% end %>