<%= simple_form_for(@bluff) do |f| %>
  <% if @bluff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bluff.errors.count, "error") %> prohibited this bluff from being saved:</h2>

      <ul>
      <% @bluff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>Did you see that ludicrous display last night?</p>

    <%= f.input :statement_1 %>

    <%= f.input :statement_2 %>

    <p>Yeah it is true. See you later, mate.</p>

    <p>Mind 'ow you go.</p>

    <%= f.submit %>
  </div>
<% end %>
