<div class="row">

  <div class="col-md-6 home-team">
    <h2><%= match.home_team %></h2>
    <h3 class="<%= match.home_score_color %>"><%= match.home_team_score %></h3>
  </div>

  <div class="col-md-6 away-team">
    <h2><%= match.away_team %></h2>
    <h3 class="<%= match.away_score_color %>"><%= match.away_team_score %></h3>
  </div>
</div>